{%extends 'singup.html'%}
{% load crispy_forms_tags  %}



{% block content %}
<section id="login" >
    <div class="container">
    	<div class="row">
    	    <div class="col-xs-12">
        	    <div class="form-wrap">

                      <h2>
                          <span class="active" data-class="login">{{title}}</span> | 
                          <span data-class="singup">{{title2}}</span>
                      </h2>
                    
                      <form method="post" action ="." class="login">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class = "btn btn-primary"><i class="fa fa-user-o">  {{title}}</i></button>
                        <p style="margin-top:10px;text-align: center;"><a href="{%url 'password-reset'%}">Forgot Password?</a></p>
                      </form><br>

                        
                        <form method="post" action ="." class="singup">
                        {% csrf_token %}
                        {{ form2|crispy }}
                        <button type="submit" class = "btn btn-success"><i class="fa fa-user-o">  {{title2}}</i></button>
                      </form><br>
        	    </div>
    		</div> <!-- /.col-xs-12 -->
    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
{% endblock content %}