<html>
<head>
{% load staticfiles %}
{% load crispy_forms_tags  %}
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}" type="text/css">
        <link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}" type="text/css">
        <link rel="stylesheet" href="{%static 'css/style.css'%}" type="text/css">
        <meta name='viewport' content='width=device-width,initial-scale=1.0'>
</head>



{% block content %}
<section id="login" >
    <div class="container">
    	<div class="row">
    	    <div class="col-xs-12">
        	    <div class="form-wrap">

                      <h2>{{title}}</h2>

                      <form method="post" action ="." id="mian-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class = "btn btn-primary"><i class="fa fa-user-o">  {{title}}</i></button>
                        <br>
                         <p style="margin-top:10px;text-align">have account? <span style="margin-top:10px;text-align: center;"><a href="{%url 'login'%}">Login</a></span></p>
                      </form><br>
        	    </div>
                {# // <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script> #}

    		</div> <!-- /.col-xs-12 -->

    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
{% endblock content %}
<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugin.js' %}"></script>
</html>